<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>blogs</title>
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/site.webmanifest">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">


    <title>Bedroom Interior Decor
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bedroom.css') }}">


</head>

<body>
    <nav class="shift">

        <ul>
            <li class="top">Go Decor</li>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/userblogs">User Blogs</a></li>
            <li><a href="/contactus">Contact Us</a></li>
        </ul>
    </nav>
    <header><br>Want to change your bedroom aesthetic? Seize the opportunity
        as this is the best time to do some revamping.
        Here are the best bedroom ideas.<br> </header>
    <section class="one">
        <h3>
            Worthy Bedroom Decor Ideas
        </h3>
        <img src="{{url_for('static', filename='img/bedroom_main')}}" alt="bedroom_design">
        <p><i>Infuse some warmth in your bedroom this season!</i><br><br>
            For an Indian middle-class family, the home is the safe heaven.
            It’s the place where they invest their hard-earned money and
            emotions to shape their dream home. While these dream homes have
            several special aspects, they come with amazingly designed bedrooms
            that may not always be opulent but are warm and homely.
            In 2019, it was reported that India’s middle class comprised
            28% of the country’s population. India’s middle class has
            always been the heart of the country. While the population is
            spread throughout the country, a major portion resides in cities,
            especially in apartments. Be it rented or owned, middle-class
            homes sport a new type of Indian interiors that are contemporary,
            unique and super functional.

        </p>
    </section>
    <section class="first">
        <h3>A Simple Bedroom Design With A Rustic Wardrobe</h3>
        <img src="{{url_for('static', filename='/static/img/bedroom_main.jpg?m=')}}" alt="bedroom_design">
        <span>Indian middle-class families commonly go for interiors that
            are not always opulent, which is mainly true for bedrooms.
            They go for simple designs with functional furniture sets to
            add an economical angle to the interior design.The room has spacious
            interiors with a rustic floor-to-ceiling wooden wardrobe that brings a
            vintage appeal to the room. The bed has a similar rustic wooden finish with a padded headboard.
            The bed here has drawers that help to keep things clutter-free and sorted. </span>
    </section>
    <section class="second">
        <h3>Beautiful And Bewitching: Bedroom Interiors With Wooden Flooring</h3>
        <img src="{{url_for('static', filename='img/bedroom_wooden')}}" alt="bedroom_design">
        <span>Bedroom wooden flooring continues to be one of the most preferred
            elements by homeowners. It grants a touch of elegance to your bedroom.
            More importantly, a wood tile bedroom comes in various options to choose
            from — its versatility knows no bounds. They do not trigger any kind of
            allergies and are available across various finishes. This makes them perfect for homeowners
            who have refined sensibilities and clear ideas for their home design.
        </span>

    </section>
    <section class="third">
        <h3>Full Wall Wardrobe Design With Mirrors</h3>
        <img src="{{url_for('static', filename='img/bedroom_mirrors')}}" alt="bedroom_design">
        <span>This full wall wardrobe design with reflective mirrors creates
            an illusion of more space and also reflects more sunlight in the bedroom.
            It gives a very sleek and minimalistic look and feel to the place, and
            also balances out the wooden elements. The wardrobe is also equipped with
            ample storage solutions in terms of hanging rods, shelves and drawers.</span>

    </section>
    <section class="fourth">
        <h3>Plush And Peppy: DIY Room Decor For Girls</h3>

        <img src="{{url_for('static', filename='img/bedroom_girls')}}" alt="bedroom_design">
        <span>Girls have a golden heart and their love for their BFFs and
            family knows no bounds. Celebrate this by stringing Polaroids of all
            those much-cherished moments and memories on walls or your girls’ room corner. You can also paint up a
            wardrobe and then stick up all the Polaroids to give
            a rather vivid focal point to your girls’ room! What do you think?</span>

    </section>
    <section class="fifth">
        <h3>Fun Bunk Beds For Boys Make Bedrooms The New Happy Place</h3>
        <img src="{{url_for('static', filename='img/bedroom_bunkbed')}}" alt="bedroom_design">
        <span>While we’re not sure of the bunk bed’s origins, it’s the military camps that popularised
            the use of bunk beds thanks to their practical and space-saving features. Perhaps it’s this aspirational
            association with toughness and a
            spirit of adventure that makes bunk beds such a favourite with young children.
            Bunk beds for teen boys are trendy too. It may be the unexplainable charm of the top bunk or the lure of
            literally ‘climbing’ into bed, bunk
            beds for boys never go out of fashion.</span>

    </section>
    <div class="share-button-container">
        <a href="" class="facebook-btn">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="" class="twitter-btn">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="pinterest-btn">
            <i class="fab fa-pinterest"></i>
        </a>

        <a href="" class="whatsapp-btn">
            <i class="fab fa-whatsapp"></i>
        </a>
        <a href="" class="linkedin-btn">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
    <script src="{{url_for('static', filename='styles/search.js')}}"></script>
</body>

</html>