<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/footer.css') }}">
    <title>Document</title>
</head>
<body>
   
    <footer class="footer-distributed">
    
                <div class="footer-left">
                   
                    <h3>Go<span>Decor</span></h3>
    
                    <p class="footer-links">
                        
                        <a href="#">Home</a>
                        <a href="#">About Us</a>
                    
                        <a href="#">Blogs</a>
                    
                        <a href="#">Contact Us</a>
                        
                        
                    </p>
    
                    <p class="footer-company-name">Company Name © 2021</p>
                </div>
    
                <div class="footer-center">
    
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p><span>3rd Floor, Ascendas Park Square Mall,<br>
                            </span> Bengaluru, Karnataka 560066</p>
                    </div>
    
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>080-68065000</p>
                    </div>
    
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:support@company.com">support@company.com</a></p>
                    </div>
    
                </div>
    
                <div class="footer-right">
    
                    <p class="footer-company-about">
                        <span>Passionately creating personalised designer homes.</span>
                        A pair of workaholic entrepreneurs, they are both Innovators and Magicians 
                        alike and are driven to bring the power of design to millions of life.</p>
    
                    <div class="footer-icons">
    
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
    
                    </div>
    
                </div>
    
            </footer>  
</body>
</html>