<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>blogs</title>
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/site.webmanifest">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  

    <title>LivingRoom Interior Decor
    </title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/living.css') }}">



</head>

<body>
    <nav class="shift">
        

        <ul>
            <li class="top">Go Decor</li>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/userblogs">User Blogs</a></li>
            <li><a href="/contactus">Contact Us</a></li>
        </ul>
    </nav>
    <header>A living room serves as the soul of your home. That’s why you must never leave a
        stone unturned when it comes to living room furniture decor.<br><br> </header>
    <section class="one">
        <h3>Worthy Living Room Furniture And Decor Ideas</h3>
        <img src="{{url_for('static', filename='img/living1.jpg')}}"  />
        <p>Often, we are stuck with a basic living room decor challenge — arranging the furniture.
            Not having a plan also adds to our misery. We end up randomly arranging
            the sofa or just placing chairs without fixing a spot.
            There is something incredibly warm and beautiful about handmade,
            indie living room decor. Got old bamboo accessories lying around?
            Cut them out and recreate some fancy accessories from them. You could also make lamps
            from them and brighten up your living room without any additional expense.
            Want to do something different in your living room? Break the theme.
            Place a modern, plush wing chair or set up an indie wallpaper in the
            background to revitalise your living room. This living room decor idea is
            easy to pull off and doesn’t require much maintenance,
            so go for it!<br>

        </p>
    </section>
    <section class="two">
        <h3><br>Analogous Colour Scheme Painting Ideas</h3>

        <p><br>When in doubt, spin the colour wheel. Analogous colour scheme examples are what
            pro designers follow and use as a guide to remodelling houses. Even though
            monochrome colours are in fashion right now,
            we are travelling back in time with bold splashes of colour.</p>
    </section>
    <section class="first"> <img src="{{url_for('static', filename='img/color1.jpg')}}"  />
        <p> If you want your living room to look like a sunset scene and radiate happiness,
            try painting idea in bright orange.Bright shades of orange and crimson bring
            positive vibes into the living space while radiating sunshine and goodness.
        </p>
    </section>
    <section class="second"><img src="{{url_for('static', filename='img/color2.jpg')}}"  />
        <p>Sometimes colour can be too much for certain people. To go with this monochrome
            colour scheme, you can add a funky graffiti wall, a bookshelf in black, grey rugs,
            or even paint your window sills with white!
            This analogous colour scheme leaves a lot of room for improvisation. </p>
    </section>
    <section class="third"><img src="{{url_for('static', filename='img/color3.jpg')}}"  />
        <p>If you are into the bright aesthetic of quirky colours, try this unique combination
            of yellow and turquoise. This analogous colour scheme painting idea uses the colour
            blocking technique to make the room stand out.
            You can add potted plants to upgrade the Hawaiian feel of the space.</p>
    </section>

    <section class="three">
        <h3>Easy-To-Follow, Stylish Center Table Decor Ideas For Your Living Room</h3>

        <!-- <img src="images/position1.jpg" alt="position1"> -->
        <p>The first thing that comes to your mind for putting all your essentials, especially
            in your living room, is the center table. Popularly also known as a coffee table,
            a center table mutedly attracts a lot of attention. From your family to your guests,
            everyone ends up using it for one purpose or the other. Considering that, a center
            table is functionally as well as aesthetically important for your living room.</p>
    </section>
    <section class="four">
        <img src="{{url_for('static', filename='img/position2.jpg')}}"  />
        <p>Whether you have a green thumb or not, you cannot deny the pacifying effect of fresh
            greens placed around you. Get indoor greens like money plant,
            jade plant or the choicest of bonsai to create your mini garden on the center table.
            In order to do something out of the box, go for a circular, wooden/metal center table.
            Its smooth edges grow on you and you could place sleek journals,
            books and mini planters to give it a holistic look.</p>
    </section>
    <section class="five"><img src="{{url_for('static', filename='img/position3.jpg')}}"  />
        <p>Put up your feet on the center table, relax and unwind from all the worries of the
            world. Ain’t that the good old dream? Add some sparkle to it by placing scented
            candles and iconic vases on your center table. This center
            table decor idea evokes nostalgia and fills your living room with feel-good vibes.
        </p>
    </section>
    <!-- recent posts -->
    

    <!-- share -->
    <div class="share-button-container">
        <a href="" class="facebook-btn">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="" class="twitter-btn">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="pinterest-btn">
            <i class="fab fa-pinterest"></i>
        </a>

        <a href="" class="whatsapp-btn">
            <i class="fab fa-whatsapp"></i>
        </a>
        <a href="" class="linkedin-btn">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>


    
</body>
<script src="{{url_for('static', filename='styles/search.js')}}"></script>


</html>