<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>blogs</title>
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/site.webmanifest">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">


    <title>Office Interior Decor
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/office.css') }}">


</head>

<body>
    <nav class="shift">

        <ul>
            <li class="top">Go Decor</li>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/userblogs">User Blogs</a></li>
            <li><a href="/contactus">Contact Us</a></li>
        </ul>
    </nav>
    <header><br> It’s no secret that office design can either enhance or
        dampen your company culture. Ultimately, the best design for your office is the one that reflects your values
        and meets your company’s and your employees’ needs.<br> </header>

    <section class="first">
        <h3>Small Office Interior Design Trends </h3>
        <img src="{{url_for('static', filename='img/office_small')}}" alt="office_design">
        <span>As workspaces shrink and home offices become popular, it is time for businesses and freelancers
            to rethink their place of work and its interior design and décor.
            Smaller offices require using all of the space resourcefully,
            which means that office storage needs to be upward. Built-in shelves
            into the wall can make for stylish, beautiful, as well as organized office
            storage space while not appearing clutter-like. They not only create a
            focal point for the small office, but they also help employees stay organized – think floor-to-ceiling
            built-in shelving which is great for storing both artefacts and items which help you work, as well as your
            own files and odds and ends.
            This also leaves more room for foot traffic and other furniture.</span>
    </section>
    <section class="second">
        <h3>How to design a blended workspace?</h3>
        <img src="{{url_for('static', filename='img/office_blended')}}" alt="office_design">
        <span>Workspaces have moved away from the traditional, matrix-like cubicle
            scenario. Cubicles are replaced by workspaces that are open and functional
            to encourage collaboration and interaction among the employees. Known as
            the blended workspace, these spaces are modular in nature but with many
            adaptable elements to it. A blended workspace has an open design that
            allows you to see where who is sitting, what they are working on...
            Blended workspace design also effectively ends the hierarchical seating
            that is inherent in a traditional workspace. You might just find your
            boss sitting right next to you and an
            HR executive might probably be using a cabin for privacy and interviews. </span>
    </section>
    <section class="third">
        <h3>Building Open Collaborative Space</h3>
        <img src="{{url_for('static', filename='img/office_collaborate')}}" alt="office_design">
        <span>Most office spaces are ditching cubicles in favour of collaborative designs. As an office trend, this kind
            of space design makes the employees feel inclusive and increases interaction.
            More and more people use laptops these days, and with wireless internet and
            cloud technology, employees are not tied to their desks. They can move around. With minimal partitions,
            offices desks
            are becoming broader to accommodate more than one employee in desk.
            Those who love to employ minimalistic themes can go for a long table
            with minimal partitions to demarcate the space. Sometimes, partitions
            are done away with because it might require an entire team to huddle
            up around one table or work on either side of it. </span>
    </section>
    <section class="fourth">
        <h3>Luxurious Modern Office Interior Design Trends</h3>
        <img src="{{url_for('static', filename='img/office_luxirious')}}" alt="office_design">
        <span> Office design is both an art and a science, playing a significant role
            in both the productivity
            of the employees as well as the capacity of a business to function.One
            of the most thrilling trends in modern office interior design is
            the arrival of experience-driven workspaces, which effectively blend
            working environments and leisure facilities, truly addressing the eternal
            quest for a work-life balance. Today, elements such as music and theatre
            stages/areas, virtual reality gaming spaces, game rooms, cocktail and
            espresso bars, rock climbing walls, jogging/walking trails, yoga studios, acupuncture and holistic medicine
            offerings, meditation areas, chiropractor consultation and massage therapy spaces,
            and more are fast becoming a part of the work fabric. </span>
    </section>
    <section class="fifth">
        <h3>How to Make Your Office Safe for Work During the COVID-19 Pandemic?</h3>
        <img src="{{url_for('static', filename='img/office_pandemic')}}" alt="office_design">
        <span>Life has changed a lot since the arrival of the new enemy in people's life, COVID-19. But there is one
            question haunting each one of us the most, how do we manage to continue
            doing our jobs and earn our bread and butter on a regular basis? <br>
            <ul><b>Health and Hygiene:</b>
                <li>There must be a sanitizing unit inside the office premises to allow the staffs to sanitize their
                    hands at regular intervals.</li>
                <li>The office must take care of the hygiene of the place with the utmost care. The procedure of
                    sanitization should not only stop to the staffs. Hourly sanitization of the whole office is
                    necessary.</li>
            </ul>
            <ul><b>Social Distancing</b>: Another important thing which all the staffs should follow is Social
                Distancing in the office premises. The spacing in-between each sit has to have a minimum distance of one
                meter. </ul>
            <ul><b>Work in Shifts: </b>The best way to prevent COVID-19 spread is to maintain work schedules in shifts.
                It is best to avoid gatherings at the office.</ul>
            <ul><b>Deep Cleaning and Sanitizing:</b>The office should get proper Cleaning now and then to fight against
                COVID-19. Cleaning areas where workers often visit like washrooms, exposed doorknobs, handles, chairs,
                tables and other furniture must be wiped clean with surface disinfectant always.
                This procedure helps in maintaining minimal contact among the people.</ul>
        </span>
    </section>

    <div class="share-button-container">
        <a href="" class="facebook-btn">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="" class="twitter-btn">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="pinterest-btn">
            <i class="fab fa-pinterest"></i>
        </a>

        <a href="" class="whatsapp-btn">
            <i class="fab fa-whatsapp"></i>
        </a>
        <a href="" class="linkedin-btn">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
    <script src="{{url_for('static', filename='styles/search.js')}}"></script>
</body>

</html>