<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>blogs</title>
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/site.webmanifest">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">


    <title>Terrace Interior Decor
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/terrace.css') }}">



</head>

<body>
    <nav class="shift">

        <ul>
            <li class="top">Go Decor</li>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/userblogs">User Blogs</a></li>
            <li><a href="/contactus">Contact Us</a></li>
        </ul>
    </nav>
    <header><br>The hustle and bustle of the metros and even smaller cities often overwhelm us. Especially with the
        pandemic and onset of remote work, all we want is to wake up and unwind in our personal nook at our homes.
        When you come to think of that, what better than a terrace garden? <br> </header>

    <section class="first">
        <h3>Rustic Terrace Garden Design
        </h3>
        <img src="{{url_for('static', filename='img/terrace_rustic')}}" alt="terrace_design">
        <span> Missing the cabin by the woods very much? Bring a slice of that reality home by setting up an
            old-worldly, rustic terrace garden in your porch or rooftop.
            You could also go for a hammock aligned with lush planters to swing away all your worries.
            This design works really well if you are looking for small terrace garden ideas.</span>
    </section>
    <section class="second">
        <h3>Tropical Terrace Garden Design Ideas</h3>
        <img src="{{url_for('static', filename='img/terrace_tropical')}}" alt="terrace_design">
        <span> Want to experience the vibes of Bali or Maldives right on your rooftop?
            Pick this summary, soothing theme for your terrace garden then. Decked up with the choicest of planters,
            lamp posts, comfy sofas and the warmth of neatly etched tile flooring,
            this garden design is truly unique and flattering.</span>
    </section>
    <section class="third">
        <h3>Modern Terrace Garden Design</h3>
        <img src="{{url_for('static', filename='img/terrace_modern')}}" alt="terrace_design">
        <span>Keep up with the decor trends and add a touch of modernity to your terrace garden. Choose plush furniture
            to enhance the relaxed vibe of your small or expansive terrace garden. You could pair coffee tables, candles
            and more with your garden to complete the rich look of this design. </span>
    </section>
    <section class="fourth">
        <h3>Simple Terrace Garden Ideas</h3>
        <img src="{{url_for('static', filename='img/terrace_garden')}}" alt="terrace_design">
        <span>Wouldn’t you love a Zen garden any day? We bet this enchanting, effortlessly simple terrace garden design
            will appeal to your refined sensibilities. Meticulously detailed with earthy stones and antique corner
            shelves and chairs,
            this terrace garden design pacifies your mind right from the first sight. </span>
    </section>
    <section class="fifth">
        <h3>Minimal Terrace Garden Design</h3>
        <img src="{{url_for('static', filename='img/terrace_open')}}" alt="terrace_design">
        <span>A comfy seating arrangement, warm wooden aesthetics and landscaped surroundings are what you need to
            create that minimal terrace garden. Relax there without any worries as it requires minimum maintenance
            and is always easy on the eyes. </span>
    </section>

    <div class="share-button-container">
        <a href="" class="facebook-btn">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="" class="twitter-btn">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="pinterest-btn">
            <i class="fab fa-pinterest"></i>
        </a>

        <a href="" class="whatsapp-btn">
            <i class="fab fa-whatsapp"></i>
        </a>
        <a href="" class="linkedin-btn">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
    <script src="{{url_for('static', filename='styles/search.js')}}"></script>
</body>

</html>